/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #0a192f;
    color: white;
}